.visionSection {
  height: 100vh;
  width: 100%;
  background-color: #e7e9ea; 
  position: relative;
}

.vision {
  font-size: 16rem;
  opacity: 0.25;
  color: #b2b6bb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  z-index: 0;
  letter-spacing: 1rem;
}
.visionContainer{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
}


.visionHeader {
    width: 40%;
    position: absolute;
    top: 8.6vh;
    left: 4vh;
    z-index: 2;
}

.span1{
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
}
.span2{
    font-family: 'DM Serif Display', serif;
    font-weight: 200;
}

.visionStep {
    padding-top: 5rem;
    width: 33.3%;
    height: 200vh; /* Définir une hauteur fixe */
    padding-right: 2rem;
}

.title{
    font-size: 4rem;
    position: absolute;
    top: 15%;
    left: 10%;
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
    color: #7c7f82;
}

.step {
    margin-bottom: 60vh; 
    position: relative;
}

.stepContent {
    width: 50%;
    margin-left: 15vh;
    min-height: 40vh;
    border-radius: 16px;
    backdrop-filter: blur(3.4px);
}

.step p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.4rem;
}